* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.login-container {
    background-color: #1f1f1f;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 1.5rem;
    color: #e0e0e0;
}

.input-group {
    margin-bottom: 1rem;
    text-align: left;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #bdbdbd;
}

.input-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #424242;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

button {
    background-color: #bb86fc;
    color: #121212;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
}

button:hover {
    background-color: #3700b3;
}

.error {
    color: #cf6679;
    margin-top: 1rem;
    display: none;
}
.signup-text {
    margin-top: 1rem;
    color: #bdbdbd;
}

.signup-text a {
    color: #bb86fc;
    text-decoration: none;
}

.signup-text a:hover {
    color: #3700b3;
}
